<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Course page</h1>
    <ul>
        <li>Courses</li>
        <li>Course name:{{coursename}}</li>
        <li>Course id:{{id}}</li>
        <li>Duration:{{d}}</li>
        <li>Fees:{{fees}}</li>
        <li>Result:{{result}}</li>
    </ul>

    <button><a href='/app1/about/'>Go to about page</a></button>
    <button><a href='/app1/'>Back to home page</a></button>

</html>