{% extends 'nav.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Home page</h1>
    <img src="{% static 'image/cup.jfif' %}" alt="Cup">
    <ul>
        <li><a href='/app1/about/'> About </a></li>
    </ul>
</body>

</html>
{% endblock body %}