<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main {
        display: inline-flex;
        gap: 20px;
        list-style: None;

    }
</style>

<body>
    <nav>
        <ul class="main">
            <li><a href="/python/">Python </a></li>
            <li><a href="/java/">java</a></li>
            <li><a href="/php/">PHP</a></li>
        </ul>
    </nav>
    <h1>Select your course</h1>
    <select name="n">
        <option value=" ">Select course</option>
        <option value="/python/">python</option>
        <option value="/java/">java</option>
        <option value="/php/">PHP</option>
        <option value="kotlin">KOTLIN</option>
    </select>
</body>

</html>