<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main {
        display: inline-flex;
        gap: 20px;
        list-style: None;

    }
</style>

<body>

    <nav>
        <ul class="main">
            <li><a href="/home/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/course/">Course</a></li>
            
        </ul>
    </nav>
    <h1 style="color:hotpink">Hello koala🐨</h1>
</body>

</html>