{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,
initial-scale=1.0">
 <title>Update Student</title>
 {% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/student/add_student.css'%}">
 {% endblock %}
</head>
<body>
 {% block content %}
 <form action="" method="POST">
 {% csrf_token %}
 {{forms.as_p}}
 <button type="submit">Update Student</button>
 </form>
 <a href="{% url 'home' %}" class="back-btn">← Back</a>
 {% endblock %}
</body>
</html>
